html {
    scroll-padding-top: 80px;
}

// 基礎文字樣式

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    color: #222;
    font-weight: bold;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.83em;
}

h6 {
    font-size: 0.67em;
}

p,
.description {
    white-space: pre-line;
}

small {
    font-size: 0.95em;
    color: #888;
}

// 基礎間距

h3+h3,
h3+p,
h4+p,
figure+h3 {
    margin-top: 10px;
}

p+p,
ul+h3,
p+h4,
h3+h4,
p+h3 {
    margin-top: 2rem;
}

.image img {
    margin-block: 1.5rem;
}

hr {
    margin-block: 4rem;

    @media(max-width:767px) {
        margin-block: 3rem;
    }
}

hr+.content-title {
    margin-block: 0 1.5rem;
}

.world-article {
    margin-block: 1.5rem;
}

.article-content {
    font-size: 17px;
    color: #414141;
    letter-spacing: 1px;
    line-height: 1.8;

    a {
        color: #222 !important;
        text-decoration: underline;
    }

    h2 {
        font-size: clamp(1.375rem, 1.2851rem + 0.3687vw, 1.625rem);
        line-height: 1.5;
        margin-block: 4rem 1.5rem;
        color: #222;
    }

    h3 {
        font-size: clamp(1.25rem, 1.2275rem + 0.0922vw, 1.375rem);
        line-height: 1.5;
    }

    i {
        background: linear-gradient(180deg, transparent 50%, #ffd6e6 0);
        font-style: normal;
    }

    // 備註樣式

    blockquote {
        border-left: 5px solid #ffd6e6;
        margin: 2rem 0;
        padding-left: 3rem;
        padding-right: 3rem;

        @media(max-width:767px) {
            margin: 1rem 0;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @media(max-width:480px) {
            padding-right: 0;
        }
    }



    // 白底-引言樣式
    .sub-block {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 1rem;
        padding: 2rem 2.5rem;
        border: 2px solid #ddd;

        .content-title {
            margin-top: 0;
        }

        .article-author {
            padding-bottom: 8px;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid #ddd;
            font-size: 15px;
            text-align: left;
            color: #777;
            display: block;
        }
    }

    // 灰底-引言樣式
    .sup-block {
        box-sizing: border-box;
        display: inline-block;
        border-radius: 1rem;
        padding: 2rem 2.5rem;
        border: 2px solid #ddd;
        background: #ddd;

        .content-title {
            margin-top: 0;
        }

        .article-author {
            padding-bottom: 8px;
            margin-bottom: 1.5rem;
            border-bottom: 1px solid #ddd;
            font-size: 15px;
            text-align: left;
            color: #777;
            display: block;
        }
    }

    img:not(.cover) {
        height: auto;
    }

    // 錨點樣式 
    .anchor-list {
        list-style: circle;
        padding-left: 20px;
        color: rgb(51, 51, 51);
        font-weight: bold;
        font-size: 20px;
    }

    .anchor-list a {
        text-decoration: unset !important;
        color: #222 !important;

    }

    // 列表樣式
    ol {
        list-style: auto;
        padding-left: 20px;
        margin-block: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    ul {
        padding-left: 20px;
        margin-block: 1.5rem;
        list-style: disc;
    }

    //  表格 
    .table {
        width: 100%;
        margin: 1rem 0 2rem;
        overflow-x: auto;
        border-collapse: collapse;
        position: relative;

        table {
            border-collapse: separate;
            border-spacing: 3px;
            border: 0;
            position: relative;
            table-layout: auto;
            width: 100%;
        }

        td {
            white-space: inherit;
            border: 1px solid #dedede;
            background: #fff;
            padding: 10px 20px;
            text-align: left;
            font-weight: 400;
            place-content: baseline;

            @media(max-width:767px) {
                min-width: 200px;
            }

            @media(max-width:480px) {
                padding: 10px;
            }
        }

        tr:nth-child(odd) td {
            background: #f4f4f4;
        }

        tr td:nth-of-type(1) {
            @media(max-width:767px) {
                min-width: 170px;
            }

            @media(max-width:480px) {
                min-width: 130px;
                white-space: pre-wrap;
            }
        }

        thead th {
            padding: 10px 20px;
            text-align: left;
        }

        tr:nth-of-type(1) td,
        tr td:nth-of-type(1) {
            white-space: nowrap;
            z-index: 0;
        }

        thead tr {
            font-weight: 600;
            background: #e5e5e5;
        }

    }

    // qa樣式  
    .faq-block {
        padding: 3rem;
        border-radius: 1rem;
        background: #eee;
        margin-top: 3em;

        @media(max-width:767px) {
            padding: 2rem;
        }

        h2 {
            margin-top: 0;
        }

        .artilce-list-ul {
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            gap: 1.5rem 0;
            padding: 0;
        }
    }

    // cta樣式
    .cta-block {
        position: relative;
        margin-top: 3em;
        overflow: hidden;

        .cta-text {
            text-align: center;
            padding: max(3vw, 2rem) max(2vw, 2rem);
            position: relative;
            z-index: 2;
        }

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .bg-img img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .cta-text p,
        .cta-text h3 {
            color: white;
        }

        .cta-text h3 {
            font-size: clamp(1.25rem, 1.125rem + 0.625vw, 2.125rem);
        }

        .cta-text p {
            font-size: clamp(1rem, 0.9286rem + 0.3571vw, 1.5rem);
            margin-top: 2rem;
        }

        .cta-btn {
            display: block;
            width: 200px;
            padding: 0 1rem;
            margin: 2rem auto 0;
            border: none;
            border-radius: 30px;
            background-color: #f44635;
            line-height: 57px;
            color: #fff !important;
            text-align: center;
            font-size: 18px;
            cursor: pointer;
            -webkit-transition: color 0.3s ease;
            transition: color 0.3s ease;
            text-decoration: unset !important;
        }

        @media(max-width:480px) {
            .cta-text h3 br {
                display: none;
            }
        }
    }

    // 延伸閱讀樣式
    .read-more {
        margin-top: 1rem;

        a {
            color: #222 !important;
            text-decoration: underline;
        }
    }


    // 影片樣式
    .video-block {
        margin-block: 1.5rem;

        iframe {
            aspect-ratio: 16/9;
        }
    }

    @media (min-width: 1200px) and (hover: hover) and (pointer: fine) {
        .article-content a:hover {
            color: #ff3c6e !important;
        }
    }
}